<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tablero de Tareas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<nav class="white z-depth-1">
    <div class="nav-wrapper container">
        <span class="brand-logo grey-text text-darken-2">Tablero de Tareas</span>
    </div>
</nav>
<div class="container task-board">
    <form th:action="@{/agregar}" method="post" class="add-form">
        <input id="nuevaTarea" type="text" name="descripcion" placeholder="Agregar una tarea" required>
        <button type="submit" class="btn-floating waves-effect waves-light blue">
            <i class="material-icons">add</i>
        </button>
    </form>
    <ul class="task-list" th:each="tarea : ${tareas}">
        <li class="task-item tarea-item" th:classappend="${tarea.completada}? 'completed' : ''">
            <form th:action="@{/toggle/{id}(id=${tarea.id})}" method="post">
                <label>
                    <input type="checkbox" class="filled-in" th:checked="${tarea.completada}" onchange="this.form.submit()" />
                    <span></span>
                </label>
            </form>
            <span th:text="${tarea.descripcion}" onclick="enableEdit(this, [[${tarea.id}]])" class="tarea-text"></span>
            <form th:action="@{/eliminar/{id}(id=${tarea.id})}" method="post">
                <button type="submit" class="btn-flat"><i class="material-icons grey-text text-darken-2">delete</i></button>
            </form>
        </li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
function enableEdit(span, id) {
    span.contentEditable = true;
    span.focus();
    span.onblur = function() {
        span.contentEditable = false;
        fetch('/editar/' + id, {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: 'descripcion=' + encodeURIComponent(span.textContent)
        }).then(() => { window.location.reload(); });
    };
}
</script>
</body>
</html>
